*{
    margin: 0;
}

body{
    background-color: lightgrey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 30px;
    background-color: aliceblue;
}
li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    margin-left: 80px;
}

div.buttons{
    width: 100%;
    margin: 20px;
}

.buttons-type{
    width: 100%;
    margin: 20px 0 0px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

button{
    width: 100px;
    height: 4vh;
    background-color: green;
    color: white;
    border: 0px;
    margin: 5px;
}

.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.data {
    width: 512px;
    color: black;
    background-color: white;
}

.data-info{
    margin: 30px 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.button-info{
    width: auto;
    height: auto;
    background-color: white;
    color: green;
    border: 1px solid green;
    margin-left: 300px;
}
.button-info:hover{
    background-color: green;
    color: white;
    border: 1px solid white;
}

.price{
    font-size: 30px;
    color: green;
    font-weight: bold;
}

.description{
    margin: 0 20px;
}

.description p, .data-info p{
    color: gray;
}

img{
    width: 512px;
    margin: 0;
}

@media (min-width: 576px) {
    li {
        margin-right: 0px;
        margin-left: 0px;
    }
 }

